<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="communities">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon aria-hidden="true" name="mail"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
